@charset "utf-8";
/* CSS Document */

/*Colors ==========
Blue: #2731FF / Duller Blue: #4F54FF / Light Blue BG: #F8F8FE
Pink: #FF9695 / Text on Pink: #E58685
Yellow: #F9CD17
Teal: #17BCBC
Green: #94ECC6
Light Purple BG: #DFE0FA

Grays - light to dark
#FFFFFF

Box: #F4F4F4 / Text on Box: #D1D1D1



/*Fonts ==========*/

@font-face {
    font-family: "Lulo Clean One";
    font-weight: bold;
    src: url('../../assets/fonts/Lulo Clean/LuloCleanOne-Bold.woff2') format('woff2');
    src: url('../../assets/fonts/Lulo Clean/LuloCleanOne-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Black.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-BlackOblique.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Book.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-BookOblique.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Heavy.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-HeavyOblique.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-LightOblique.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Medium.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-MediumOblique.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Oblique.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Roman.woff2') format('woff2');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Black.woff') format('woff');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-BlackOblique.woff') format('woff');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Book.woff') format('woff');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-BookOblique.woff') format('woff');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Heavy.woff') format('woff');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-HeavyOblique.woff') format('woff');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-LightOblique.woff') format('woff');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Medium.woff') format('woff');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-MediumOblique.woff') format('woff');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Oblique.woff') format('woff');
    src: url('../../assets/fonts/Avenir LT Std/AvenirLTStd-Roman.woff') format('woff');
}
/*Text Changes ==========*/

body {
    color: black;
    font-family: "Avenir LT Std", sans-serif;
    background: white;
}
#header nav ul li a, #header nav ul li span {
    color: black;
    font-weight: 400;
    font-size: 18px;
}
a {
    border: none;
}
a.selected {
    color: #9f9f9f !important;
}
h1 {
    color: black;
    font-family: "Lulo Clean One", sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7em;
    text-align: left;
    line-height: 1.8em;
}
.h1-subtitle {
    font-size: 1.4em;
}
h2 {
    color: #4F54FF;
    font-family: "Avenir LT Std", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}
h2.early-concept-title {
    margin-bottom: 0.5em;
}
.h2-plain-color {
    color: black;
}
h3 {
    color: black;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.8em;
}
h4 {
    color: black;
    font-size: 1.2em;
    font-weight: 300;
}
header p, p {
    color: #444444;
    font-weight: 300;
    font-size: 0.9em;
}
.white-text {
    color: white;
}
.text-center {
    text-align: center !important;
}
.highlight-text {
    color: #4F54FF;
    font-weight: 600;
    margin-bottom: 0;
}
a:hover, a:focus {
    color: #4F54FF !important;
}
.card-link {
	-webkit-animation: lower 0.1s ease-out;
	animation: lower 0.1s ease-out;
	position: relative;
	top: 0;
}
@-webkit-keyframes lower {
    from {position: relative; top: -15px;}
    to {position: relative; top: 0;}
}
@keyframes lower {
    from {position: relative; top: -15px;}
    to {position: relative; top: 0;}
}
.card-link:hover {
	-webkit-animation: raise 0.2s ease-out;
	animation: raise 0.2s ease-out;
	position: relative;
	top: -15px;
}
@-webkit-keyframes raise {
    from {position: relative; top: 0;}
    to {position: relative; top: -15px;}
}
@keyframes raise {
    from {position: relative; top: 0;}
    to {position: relative; top: -15px;}
}
.super-menu a:hover {
    color: inherit;
}
.text-box {
    background: rgba(255,255,255,0.9);
	padding: 10px !important;
}
.numbered {
    color: #FF9695;
    margin-bottom: 5px;
}
.gray-section-title {
    color: #D1D1D1;
    margin-bottom: 0.5em;
}
.darkgray-section-title {
    color: #b4b4b4;
    margin-bottom: 0;
}
.pink-section-title {
    color: #E58685;
    margin-bottom: 2em;
}
.blue-section-title {
    color: #4F54FF;
}
.method-number {
    width: 3em;
    height: 3em;
    background: #F9CD17; /* Alternate: #17BCBC*/
    border-radius: 50%;
    margin-bottom: 1em;
    position: relative;
}
.method-number h1 {
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 5px;
    padding-left: 5px;
}
.method-title {
    font-weight: bold;
}
.method-text {
    line-height: 1.8em;
}
.outdent-number {
    float: left;
    color: #4F54FF;
    padding-right: 1em;
    margin-bottom: 0;
}
.insight-text {
    display: inline-block;
    padding-top: 15px;
    width: 80%
}
ul.prototypes {
    list-style: none;
    list-style-image: url("../../images/bullet.svg");
    margin-left: 0;
    text-indent: 1em;
}
/*Buttons ==========*/

.button.special {
    background-color: #4F54FF;
    font-family: "Avenir LT Std", sans-serif;
    font-weight: 600;
}
.button.special:hover {
    background-color: #DFE0FA;
    color: black !important;
}
.next-page {
    width: 100%;
    text-align: center;
    padding: 8em 0 0 0 !important;
}
.next-page li {
    width: 100%;
    text-align: center;
}
.wrapper.style2 .button.special {
    color: #E58685;
}
/*Top Nav Bar ==========*/

body.landing #header {
    max-width: 1240px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
#logo {
    font-family: "Lulo Clean One", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 24px;
}
/*Dropdown Arrow ==========*/

i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    position: relative;
    top: -4px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*Banner ==========*/

#banner {
    padding: 0;
}
#banner .content {
    text-align: left;
    margin: 0;
}
.banner-landing .content {
    text-align: left;
    margin: 0;
}
.banner-text {
    padding: 0 4em 0 4em
}
.hero-text {
	padding-top: 60px !important;
}
.blurb {
    padding-top: 10px;
    padding-left: 2.5em;
    font-size: 24px;
}
#banner, #banner:after {
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 -5px 20px 2px rgba(50,50,50,0.15);
}
.banner-landing {
    background-color: white !important;
    background-image: url("../../images/landing-page-background-169.svg") !important;
    background-size: cover !important;
    background-position: right bottom !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: none !important;
}
.landing-bg-mobile {
    visibility: hidden;
    position: absolute;
    height: 0;
}
.banner-problem {
    background-color: lightgray !important;
    background-image: url("../../images/problem_bg.svg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    box-shadow: none !important;
}
.banner-generative {
    background-color: white !important;
    background-image: url("../../images/generative-bg.svg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: none !important;
}
.banner-evaluative {
    background-color: white !important;
    background-image: url("../../images/evaluative-research-bg.svg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: none !important;
}
.banner-team {
    background-image: url("../../images/team-bg.svg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: none !important;
}
/*Sections ==========*/

section {
    padding: 6em 0;
}
header.major {
    margin-bottom: 0;
}
.row, .container {
    max-width: 1240px;
    margin: auto !important;
}
.row > * {
    padding: 0 0 2em 0;
    text-align: left;
}
.spotlight .content {
    background: white;
}
.wrapper.style2 {
    background-color: #FF9695;
}
.spotlight.style2 .content {
    border-color: #4F54FF;
}
.spotlight.style3 .content {
    border-color: #94ECC6;
}
header.major:after {
    display: none;
}
#footer, #footer * {
    background: white;
    color: black;
}
.define-problem, .research-methods, .key-takeaways {
    background: #F8F8FE;
}
.problem-evolution {
    background: #F0F0FF;
}
.cot {
    background: white;
}
.key-insights {
    background: white;
    margin-top: -5em;
}
.key-insight-1 {
    background-image: url(../../images/preconceived-notions.svg);
    background-position: 0% 50%;
    background-size: auto 18em;
    background-repeat: no-repeat;
}
.key-insight-2 {
    background-image: url(../../images/in-the-moment-persuasion.svg);
    background-position: 100% 50%;
    background-size: auto 18em;
    background-repeat: no-repeat;
}
.key-insight-3 {
    background-image: url(../../images/lack-of-knowledge.svg);
    background-position: 0% 50%;
    background-size: auto 18em;
    background-repeat: no-repeat;
}
.insight-box {
    position: relative;
    left: 25%;
    margin: -3em 0;
}
.insight {
    padding: 3em 0 0 3em;
}
.member {
    padding: 2em 0;
}
.member-text {
    padding-top: 1em;
    padding-bottom: 0;
}
.ks-section {
    background: #F8F8FE;
}
.ks-image-box-desktop {
    margin-top: 3em;
    height: auto;
    visibility: visible;
}
.ks-image-box-mobile {
    height: 0;
    visibility: hidden;
}
.early-concepts-text {
    padding-right: 3em;
}
.card-box {
    margin-top: 2em !important;
}
/*Alignment ==========*/
.hello-world {
    padding: 0 1em;
}
.center-align {
    margin: 0 auto;
}
.il {
    display: inline;
}
.ilb {
    display: inline-block;
}
.empty-third {
    width: 67%;
    margin-left: 33% !important;
}
.row.uniform > * {
    padding: 2.5em 1.25em 0 1.25em;
}
.row.uniform-left > * {
    padding: 2.5em 0 0 2.5em;
}
.row.uniform-right > * {
    padding: 2.5em 1.25em 0 1.25em;
}
.key-insight-text {
    display: inline-block;
}
.new-line {
    display: block;
}
/*Images and Icons ==========*/

.ks-img {
    max-width: 1082px;
    margin-top: 1em;
}
.goal-icon {
    max-width: 6em;
}
.findings-img {
    width: 100%;
    height: 100%;
    padding: 4em;
}
.key-insights-img-box {
    padding: 0 1em;
}
.key-insight-img {
    width: 100%;
    vertical-align: middle;
    max-height: 18em;
}
.insight-img {
    max-width: 21em;
    padding-left: 16%;
}
.ep-img {
    width: 100%;
}
.team-photo {
    background-color: lightgray;
    background-image: url("../../images/team.jpg");
    background-size: cover;
    background-position: center 30%;
    height: 30em;
}
.member-photo {
    max-width: 15em;
}
.photo-container {
    text-align: center;
}
.member-link {
    padding-left: 1em;
}
.icon.alt:before {
    color: black !important;
}
.original-prompt {
    width: 70%;
    display: block;
    margin: 0 auto;
}
.two-col-img img {
    width: 50%;
    display: block;
    margin: 0 auto;
    max-height: 7em;
}
.ks-image {
    width: 90%;
}
.early-concepts-img {
    background-image: url("../../images/early-concepts.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 20em;
}
.early-concept-img {
    margin: 2em 0 2em 0;
}
.card-link {
    width: 100%;
}

@media screen and (max-width: 769px) {
h2 {
    margin-bottom: 1em;
}
p {
    font-size: 1em;
    margin-bottom: 0.9em;
    line-height: 1.6em;
}
.highlight-text {
    line-height: 1.7em;
    margin-bottom: 10px;
}
#titleBar .toggle:before {
    background: #4F54FF;
}
.banner-text {
    padding: 0;
}
.banner-problem {
    background-image: url("../../images/mobile-problem-bg.svg") !important;
}
.banner-generative {
    background-image: url("../../images/mobile-generative-bg.svg") !important;
}
.banner-landing {
    background-color: white !important;
    /*		background-image: url("../../images/landing-page-background-mobile-view.svg") !important;*/
    background-image: none !important;
    background-size: 100%;
    background-position: center 40% !important;
    background-repeat: no-repeat;
}
.banner-landing, .banner-landing:after {
    box-shadow: none !important;
}
#titleBar {
    background: rgba(255,255,255,0.98);
    box-shadow: none;
}
#titleBar .title {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
#titleBar .title a {
    color: black;
}
.blurb {
    padding: 0;
    font-size: 20px;
}
#banner:before {
    width: 0;
}
#banner .content {
    padding: 1em;
}
section, .wrapper {
    padding: 4em 1.5em;
}
.row.uniform-right > * {
    padding-right: 0;
    padding-top: 1em;
}
.findings-img {
    padding: 0;
    margin-bottom: 1em;
}
.row > * {
    padding: 0;
}
.row.uniform > * {
    padding-left: 1em;
    padding-top: 2em;
}
.row.neg-uniform > * {
    padding-left: 0;
    padding-top: 2em;
}
.ks-img {
    margin-top: 2em;
}
.gray-section-title {
    margin-bottom: 1.5em;
}
.darkgray-section-title {
    margin-bottom: 1.5em;
}
.pink-section-title {
    margin-bottom: 1.5em;
}
.empty-third {
    width: 100%;
    margin: 0 !important;
}
.goal-icon {
    max-width: 3em;
}
.method-number h1 {
    line-height: 3em;
}
.numbered {
    margin-top: 10px;
}
.insight-text {
    width: 75%;
}
.insight-img {
    padding-left: 25%;
    max-width: 100%;
}
ul.prototypes {
    margin-left: 0;
    text-indent: 0.4em;
}
.neg-uniform {
    padding-left: 0 !important;
}
.team-photo {
    height: 10em;
}
.member-photo {
    max-width: 60%;
    margin-bottom: 1.5em;
}
.hide {
    display: none;
}
.member-name {
    text-align: center;
}
.member-link {
    display: block;
    padding: 0;
    font-size: 1.5em;
    margin-top: -0.5em;
}
.ks-image-box-mobile {
    visibility: visible;
    height: auto;
    margin-top: 3em;
}
.ks-image-box-desktop {
    height: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
}
.early-concept-img {
    margin-top: 3em;
    width: 100%;
    max-width: 400px;
}
.two-col-img img {
    width: 100%;
    margin-left: -20%;
    margin-bottom: 1em;
    margin-top: 2em;
    max-height: none;
}
.two-col-img + div h2 {
    font-size: 1em;
}
.next-page {
    padding: 5em 0 0 0 !important;
    margin-bottom: -4em;
}
.card-box {
    position: relative;
    top: 120vw;
	padding-bottom: 40px;
}
.landing-bg-mobile {
    visibility: visible;
    width: 100%;
    height: auto;
    margin: 0 -16px 0 -16px;
}
.insight-box {
    padding-top: 19em;
    left: 0;
}
.key-insight-1, .key-insight-2, .key-insight-3 {
    background-position: 0 0;
    margin: 1em 0 2em 0;
}
.new-line {
    display: inline;
}
	.landing-bg {
		background-color: #fbe834;
	}
}
