
.role {
	padding: 1em 0 2em 3em;
}
.role-title {
    color: #4F54FF;
	font-weight: 700;
	display: inline;
	line-height: 30px;
	vertical-align: top;
	position: relative;
	top: 2px;
	padding-left: 1em;
}
.role-icon {
	width: 30px;
}
.my-medium {
	position: relative;
	top: -10px; left: 10px;
}

@media screen and (max-width: 769px) {
	.role {
		padding-left: 0;
	}
}
